<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');">Cr&eacute;er votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('index');">Menu principal</a></li>
        <li><a class="dropdown-item">Profil (pas encore programm&eacute;)</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');">Rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconexion()">Se d&eacute;conecter</a></li>
    </ul>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-8"><h1>Cr&eacute;ez votre rencontre</h1></div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Personne rencontr&eacute;e</div>
        <div class="col-7">
            <select id="selectPersonnesARencontrer">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Date</div>
        <div class="col-2">
            <select id="selectDateJour">
                <option value="">Jour</option>
            </select>
        </div>
        <div class="col-2">
            <select id="selectDateMois">
                <option value="">Mois</option>
            </select>
        </div>
        <div class="col-2">
            <select id="selectDateAnnee">
                <option value="">Ann&eacute;e</option>
            </select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Notation de 0 &agrave; 10</div>
        <div class="col-7">
            <select id="selectNote">
                <option value="">Note</option>
            </select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Commentaire</div>
        <div class="col-7">
            <textarea id="textAreaCommentaire" rows="5" cols="33"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="creerRencontreController.CreerRencontre()">
                <img src="../res/IconeAjout.png" height="25px"/> Cr&eacute;er votre rencontre
            </button>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesCreerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre Ajoutée !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCreerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la cr&eacute;ation de la rencontre.
        </div>
    </div>
</div>