<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');">Cr&eacute;er votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('index');">Menu principal</a></li>
        <li><a class="dropdown-item">Profil (pas encore programm&eacute;)</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');">Rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconexion()">Se d&eacute;conecter</a></li>
    </ul>
</div>

<button type="button" class="btn btn-success" onclick="navigate('creer-rencontre');">
    <img src="../res/IconeAjout.png" height="25px"/> Cr&eacute;er votre rencontre
</button>

<div class="container connexion">
    <div class="row marginBottom10px">
        <div class="col-5">Personne rencontr&eacute;e</div>
        <div class="col-7">
            <select id="selectPersonnesARencontrer">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Mot de passe</div>
        <div class="col-7"><input type="password" class="form-control" id="inputMotDePasse" value="123456789" required/></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><input type="button" class="btn btn-success" onclick="indexController.Login()" value="Se connecter"></div>
        <div class="col-4"></div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListePersonnesARencontrer" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la cr&eacute;ation de la rencontre.
        </div>
    </div>
</div>