<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false">

    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item">Profil</a></li>
        <li><a class="dropdown-item">Rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconexion()">Se d&eacute;conecter</a></li>
    </ul>
</div>