<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-8"><h1>Connexion</h1></div>
        <div class="col-4">
            <button class="form-control" onclick="navigate('signup')"> Cr&eacute;er un compte </button>
        </div>
    </div>

    <div class="container connexion">
        <div class="row marginBottom10px">
            <div class="col-5">Adresse e-mail</div>
            <div class="col-7"><input type="text" class="form-control" id="inputEmail" value="pascal.roques2001@gmail.com" required/></div>
        </div>
        <div class="row marginBottom10px">
            <div class="col-5">Mot de passe</div>
            <div class="col-7"><input type="password" class="form-control" id="inputMotDePasse" value="123456789" required/></div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"><input type="button" class="btn btn-success" onclick="indexController.Login()" value="Se connecter"></div>
            <div class="col-4"></div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurLogin" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur ! Au moins un des champs saisis est incorrect.
        </div>
    </div>
</div>