<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');">Cr&eacute;er votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('index');">Menu principal</a></li>
        <li><a class="dropdown-item">Profil (pas encore programm&eacute;)</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');">Rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconexion()">Se d&eacute;conecter</a></li>
    </ul>
</div>

<button type="button" class="btn btn-success" onclick="navigate('creer-rencontre');">
    <img src="../res/IconeAjout.png" height="25px"/> Cr&eacute;er votre rencontre
</button>

<div class="container">
    <h1>Liste de vos rencontres</h1>
    <ul id="ulListeRencontres"></ul>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListeRencontres" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la r&eacute;cup&eacute;ration des rencontres.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre Supprim&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la suppression de la rencontre.
        </div>
    </div>
</div>