<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('index');"><img src="../FrontEnd/res/IconeMenuPrincipal.png" height="25px"/> Menu principal</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');"><img src="../FrontEnd/res/IconeAjoutNoire.png" height="25px"/> Cr&eacute;ez votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');"><img src="../FrontEnd/res/IconeVosRencontres.png" height="25px"/> Vos rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconnexion()"><img src="../FrontEnd/res/IconeDeconnexion.png" height="25px"/> Se d&eacute;connecter</a></li>
    </ul>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-8"><h1>Cr&eacute;ez votre rencontre</h1></div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Personne rencontr&eacute;e *</div>
        <div class="col-6">
            <select id="selectPersonnesARencontrer"></select>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCreerPersonne" onclick="">
                <img src="../FrontEnd/res/IconeAjoutBlanche.png" height="25px"/>
            </button>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Date *</div>
        <div class="col-2">
            <select id="selectDateJour"></select>
        </div>
        <div class="col-2">
            <select id="selectDateMois"></select>
        </div>
        <div class="col-2">
            <select id="selectDateAnnee"></select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Notation de 0 &agrave; 10</div>
        <div class="col-7">
            <select id="selectNote">
                <option value="">Note</option>
            </select>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Commentaire</div>
        <div class="col-7">
            <textarea id="textAreaCommentaire" rows="5" cols="33"></textarea>
        </div>
    </div>
    <div class="row marginBottom10px">
        <div class="col-5">Partager le commentaire ? *</div>
        <div class="col-7">
            <select id="selectPartage">
                <option value="">Partage</option>
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <button type="button" class="btn btn-success" onclick="creerRencontreController.CreerRencontre()">
                <img src="../FrontEnd/res/IconeAjoutBlanche.png" height="25px"/> Cr&eacute;ez votre rencontre
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreerPersonne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitre">Cr&eacute;ez une personne &agrave; rencontrer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Nom *</div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputNom"/>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Pr&eacute;nom *</div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputPrenom"/>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Sexe *</div>
                <div class="col-7">
                    <select id="selectSexe">
                        <option value="">Sexe</option>
                        <option value="1">Homme</option>
                        <option value="0">Femme</option>
                    </select>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Date de naissance</div>
                <div class="col-2">
                    <select id="selectDateNaissanceJour"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateNaissanceMois"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateNaissanceAnnee"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <img src="../FrontEnd/res/IconeRetour.png" height="25px"/> Annuler
                    </button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="indexController.CreerPersonne(true);">
                        <img src="../FrontEnd/res/IconeAjoutBlanche.png" height="25px"/> Ajouter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesCreerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre Ajoutée !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCreerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la cr&eacute;ation de la rencontre.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesCreerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Personne Ajoutée !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCreerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la cr&eacute;ation de la personne.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCertainsChampsObligatoiresSontVides" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur, certains champs obligatoires sont vides.
        </div>
    </div>
</div>