<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('index');"><img src="../FrontEnd/res/IconeMenuPrincipal.png" height="25px"/> Menu principal</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');"><img src="../FrontEnd/res/IconeAjoutNoire.png" height="25px"/> Cr&eacute;ez votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');"><img src="../FrontEnd/res/IconeVosRencontres.png" height="25px"/> Vos rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconnexion()"><img src="../FrontEnd/res/IconeDeconnexion.png" height="25px"/> Se d&eacute;connecter</a></li>
    </ul>
</div>

<div class="container">
    <h1>Liste des personnes &agrave; rencontrer</h1>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCreerPersonne" onclick="indexController.ViderChampsNomEtPrenomPersonne()">
        <img src="../FrontEnd/res/IconeAjoutBlanche.png" height="25px"/> Ajouter une personne
    </button>
    <div class="row" id="bouttonsPersonnesRecontrees">
        <div class="col-6">
            <button class="btn btn-primary" type="button" id="buttonListeRencontres_Vert" onclick="indexController.ChangerListeAAfficher(true)">Personnes rencontr&eacute;es</button>
        </div>
        <div class="col-6">
            <button class="btn btn-secondary" type="button" id="buttonListeRencontresAVenir_Gris" onclick="indexController.ChangerListeAAfficher(false)">Personnes &agrave; rencontrer</button>
        </div>
    </div>
    <div class="row" id="bouttonsPersonnesARencontrer">
        <div class="col-6">
            <button class="btn btn-secondary" type="button" id="buttonListeRencontres_Gris" onclick="indexController.ChangerListeAAfficher(true)">Personnes rencontr&eacute;es</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" type="button" id="buttonListeRencontresAVenir_Vert" onclick="indexController.ChangerListeAAfficher(false)">Personnes &agrave; rencontrer</button>
        </div>
    </div>

    <ul id="ulListePersonnesRencontrees"></ul>
    <ul id="ulListePersonnesARencontrer"></ul>
</div>

<div class="modal fade" id="modalCreerPersonne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitre">Cr&eacute;ez une personne &agrave; rencontrer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Nom</div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputNom"/>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Pr&eacute;nom</div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputPrenom"/>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Sexe</div>
                <div class="col-7">
                    <select id="selectSexe">
                        <option value="">Sexe</option>
                        <option value="1">Homme</option>
                        <option value="0">Femme</option>
                    </select>
                </div>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Date de naissance</div>
                <div class="col-2">
                    <select id="selectDateNaissanceJour"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateNaissanceMois"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateNaissanceAnnee"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-7" id="bouttonsModalCreerModifierPersonne">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesCreerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Personne Ajoutée !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCreerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la cr&eacute;ation de la personne.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesModifierPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Personne modifi&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurModifierPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la modification de la personne.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesSupprimerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Personne supprim&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurSupprimerPersonne" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la suppression de la personne.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListePersonnes" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la r&eacute;cuperation de la liste des personnes.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCertainsChampsObligatoiresSontVides" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur, certains champs obligatoires sont vides.
        </div>
    </div>
</div>