<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenu" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" onclick="navigate('index');"><img src="../FrontEnd/res/IconeMenuPrincipal.png" height="25px"/> Menu principal</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="navigate('creer-rencontre');"><img src="../FrontEnd/res/IconeAjoutNoire.png" height="25px"/> Cr&eacute;ez votre rencontre</a></li>
        <li><a class="dropdown-item" onclick="navigate('rencontres-utilisateur');"><img src="../FrontEnd/res/IconeVosRencontres.png" height="25px"/> Vos rencontres</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick="indexController.Deconnexion()"><img src="../FrontEnd/res/IconeDeconnexion.png" height="25px"/> Se d&eacute;connecter</a></li>
    </ul>
</div>

<div class="container">
    <h1>Liste de vos rencontres</h1>
    <div class="row" id="bouttonsRencontresPassees">
        <div class="col-6">
            <button class="btn btn-primary" type="button" id="buttonListeRencontres_Vert" onclick="rencontreUtilisateurController.ChangerListeAAfficher(true)">Rencontres effectu&eacute;es</button>
        </div>
        <div class="col-6">
            <button class="btn btn-secondary" type="button" id="buttonListeRencontresAVenir_Gris" onclick="rencontreUtilisateurController.ChangerListeAAfficher(false)">Rencontres &agrave; venir</button>
        </div>
    </div>
    <div class="row" id="bouttonsRencontresFutures">
        <div class="col-6">
            <button class="btn btn-secondary" type="button" id="buttonListeRencontres_Gris" onclick="rencontreUtilisateurController.ChangerListeAAfficher(true)">Rencontres effectu&eacute;es</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" type="button" id="buttonListeRencontresAVenir_Vert" onclick="rencontreUtilisateurController.ChangerListeAAfficher(false)">Rencontres &agrave; venir</button>
        </div>
    </div>

    <ul id="ulListeRencontres"></ul>
    <ul id="ulListeRencontresAVenir"></ul>
</div>

<div class="modal fade" id="modalModifierRencontre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitre">Modifiez cette rencontre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Date</div>
                <div class="col-2">
                    <select id="selectDateJour"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateMois"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateAnnee"></select>
                </div>
            </div>
            <div id="champsNoteEtCommentaire">
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-7" id="boutonModifierRencontreModal">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListeRencontres" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la r&eacute;cup&eacute;ration des rencontres.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre Supprim&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la suppression de la rencontre.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesModifierRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre modifi&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurModifierRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la modification de la rencontre.
        </div>
    </div>
</div>