<div class="dropdown" id="dropDown"></div>

<div class="container">
    <h1>Liste des rencontres des utilisateurs<span id="spanCompteurRencontres"></span></h1>

    <ul id="ulListeRencontres"></ul>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListeRencontres" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la r&eacute;cup&eacute;ration des rencontres.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesSupprimerCommentaire" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Commentaire de la rencontre modifi&eacute; !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurSupprimerCommentaire" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la supression du commentaire de la rencontre.
        </div>
    </div>
</div>