<div class="dropdown" id="dropDown"></div>

<div class="container">
    <h1 class="marginBottom30px">Liste de vos rencontres</h1>
    <div class="row" id="bouttonsRencontresPassees">
        <div class="col-md-auto">
            <button class="btn btn-primary" type="button" id="buttonListeRencontres_Bleu" onclick="rencontreUtilisateurController.ChangerListeAAfficher(true)">Rencontres effectu&eacute;es</button>
            <button class="btn btn-secondary" type="button" id="buttonListeRencontresAVenir_Gris" onclick="rencontreUtilisateurController.ChangerListeAAfficher(false)">Rencontres &agrave; venir</button>
            <button type="button" class="btn btn-success" onclick="navigate('creer-rencontre')"><img src="../FrontEnd/res/Images/IconeAjout_Blanche.png" height="25px"/></button>
        </div>
    </div>
    <div class="row" id="bouttonsRencontresFutures">
        <div class="col-md-auto">
            <button class="btn btn-secondary" type="button" id="buttonListeRencontres_Gris" onclick="rencontreUtilisateurController.ChangerListeAAfficher(true)">Rencontres effectu&eacute;es</button>
            <button class="btn btn-primary" type="button" id="buttonListeRencontresAVenir_Bleu" onclick="rencontreUtilisateurController.ChangerListeAAfficher(false)">Rencontres &agrave; venir</button>
            <button type="button" class="btn btn-success" onclick="navigate('creer-rencontre')"><img src="../FrontEnd/res/Images/IconeAjout_Blanche.png" height="25px"/></button>
        </div>
    </div>

    <ul class="marginTop10px" id="ulListeRencontres"></ul>
    <ul class="marginTop10px" id="ulListeRencontresAVenir"></ul>
</div>

<div class="modal fade" id="modalModifierRencontre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitre">Modifiez cette rencontre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row marginBottom10px">
                <div class="col-5">Date *</div>
                <div class="col-2">
                    <select id="selectDateJour" onchange="baseController.AfficherChampsNoteEtCommentaireEtPartage()"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateMois" onchange="baseController.AfficherChampsNoteEtCommentaireEtPartage()"></select>
                </div>
                <div class="col-2">
                    <select id="selectDateAnnee" onchange="baseController.AfficherChampsNoteEtCommentaireEtPartage()"></select>
                </div>
            </div>
            <div id="divChampsNoteEtCommentaireEtPartage"></div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-7" id="boutonModifierRencontreModal">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurGetListeRencontres" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la r&eacute;cup&eacute;ration des rencontres.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre Supprim&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurSupprimerRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la suppression de la rencontre.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastSuccesModifierRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Rencontre modifi&eacute;e !
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurModifierRencontre" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur lors de la modification de la rencontre.
        </div>
    </div>
</div>

<div class="position-fixed top-0 end-0" style="z-index: 11">
    <div id="toastErreurCertainsChampsObligatoiresSontVides" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Erreur, certains champs obligatoires sont vides.
        </div>
    </div>
</div>