body
{
    background : linear-gradient(to bottom right, #000000, #00255a) fixed;
    color      : #d2d2d2;
    margin     : 1%;
}

.bold
{
    font-weight : bold;
}

.boutonModifierRencontre
{
    margin-bottom : 7px;
}

.boutonSeConnecter
{
    position : center;
}

.color_RougeFonce_7A0008
{
    color : #7A0008;
}

.dropdown-item
{
    cursor : pointer;
}

.fontSizeMoins20Pourcents
{
    font-size : 0.8em;
}

.fontSizePlus20Pourcents
{
    font-size : 1.2em;
}

.infosPersonne
{
    padding: 25px 25px 55px 25px;
}

.ligneUtilisateur, .ligneCommentaire
{
    padding : 10px;
}

.liPersonne, .liRencontre, .liCommentaireRencontre
{
    border-top    : 1px solid #d2d2d2;
    padding       : 7px;
}

.marginBottom10px
{
    margin-bottom : 10px;
}

.marginBottom30px
{
    margin-bottom : 30px;
}

.marginTop10px
{
    margin-top : 10px;
}

.marginTop30px
{
    margin-top : 30px;
}

.modal-content
{
    background-color : #3c3c3c;
    color            : #d2d2d2;
    padding          : 10px;
}

.texteJustifie
{
    text-align : justify;
}

.toast
{
    color : black;
}

ul
{
    list-style-type : none;
}